body{
    background-color: #2b1e57;
}

section{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 15%;
    padding: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

h1{
    text-align: center;
    padding-bottom: 10px;
}